/* body and html*/
html, #root{
  background-color: #CACFD6;
  height: 100%;
  font-family: 'Eczar', serif;
}
/* headers and paragraphs*/
h1{
  padding: 10px;
}
/* navigation */
.navbar{
  width: 100%;
}
.collapse .navbar-collapse{
  float: right;
}
ul li{
  float: right;
}
.home{
  display: inline;
}
.navbar-brand{
  float: left;
  clear: both;
}
.link{
 margin: 20px;
 font-size: 20px;
 float: right !important;
 display: inline-block;
 text-decoration: none;
}
a:visited, a{
  color: white;
  text-decoration: none;
}
a img{
  padding: 20px;
}
.logo{
 width: 75px;
}
/* Homepage Animal Search */
.Row
{
    display: table;
    width: 100%; /*Optional*/
}
.Column
{
    height: 50px;
    display: table-cell;
    width: 33.33%;
    text-align: center;
}
.dogs,.other{
  background-color: #FF5E5B
}
a:hover{
  text-decoration: none;
  color: white;
}
.cats{
  background-color: #00CECB;
  vertical-align: middle !important;
  text-align: center !important;
}
.cats button{
background-color: Transparent;
border-style: none;
}
.featured-animals{
  margin: 10px !important;
  height: 500px;
}
/* Homepage Header/Jumbotron */
.header-img{
    background-image: url('../components/assets/header.jpg');
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    width: 100%;
    height: 500px;
    text-align: center;
    color: #333745;
    margin-bottom: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}
.header-info{
  display: inline-block;
  margin: 10px;
}
.header-info button{
  margin: 20px;
}
.contact-us{
  border-radius: 50px;
  opacity: .8;
}
.header-img h1{
  font-size: 50px;
}
.header-img p{
  font-size: 38px;
}
.header-img button{
  color: white;
  background-color: #00CECB;
  font-size: 28px;
}
.navbar-brand a{
  color: #333745;
  text-decoration: none;
  font-size: 28px;
}
.card img, .card-body{
  width: 400px;
}
.animal h1{
  text-align: center;
}
h2{
  text-align: center;
  font-size: 50px;
  color: #333745;
  margin: 10px;
}
/* Contact Page*/


/* Mobile Screen Styles*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .navbar-brand a{
    color: #333745;
    text-decoration: none;
    font-size: 18px;
  }
  .logo{
   width: 30px;
 }
 .navbar-toggler{
   border-style: none;
   margin-top: 20px;
 }
 .header-info{
   display: inline-block;
   margin: 10px;
 }
 .header-info button{
   margin: 20px;
 }
 .header-img h1{
   font-size: 30px;
 }
 .header-img p{
   font-size: 20px;
 }
 .header-img button{
   color: white;
   background-color: #00CECB;
   font-size: 12px;
   margin-top: 0px;
 }
 .jumbotron{
   height: 250px;
 }
 .Column
 {
     height: 100px;
     width: 33.33%;
 }
}
